@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  background-image: url("/public/curve.svg");
  overflow-x: hidden;
}

.roboto {
  font-family: var(--font-roboto)
}

.box {
  --mask: 
    conic-gradient(from 110deg at top,#0000,#000 1deg 139deg,#0000 140deg) top/225.29px 51% repeat-x,
    conic-gradient(from -70deg at bottom,#0000,#000 1deg 139deg,#0000 140deg) bottom/225.29px 51% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}
.box1 {
  --mask: conic-gradient(from 110deg at top,#0000,#000 1deg 139deg,#0000 140deg) 50%/225.29px 100%;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}
